html, body, div, span, p, img {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  background-color: hsl(185, 75%, 39%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-family: 'Kumbh Sans', sans-serif;
  text-align: center;
  min-height: 100vh;
  background-image: url("images/bg-pattern-top.svg"),
  url("images/bg-pattern-bottom.svg");
  background-position: right 40vw bottom 50vh, 40vw 43vh;
  background-size: cover;
  background-repeat: no-repeat;
}

span {
  color: hsl(0, 0%, 59%);
}

.card-container {
  background-color: white;
  border-radius: 15px;
  box-shadow: 1px 1px 60px 0px hsl(227, 10%, 46%);
}

.image-top {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.image-victor {
  display: block;
  position: relative;
  left: 125px;
  bottom: 50px;
  border-radius: 50%;
  border: 5px solid white;
}

.name {
  display: inline-block;
  position: relative;
  bottom: 25px;
  font-size: 18px;
  font-weight: 700;
  color: hsl(229, 23%, 23%);
}

.age {
  display: inline;
  position: relative;
  bottom: 25px;
  font-size: 18px;
  color: hsl(227, 10%, 46%);
}

.location {
  position: relative;
  bottom: 15px;
  color: hsl(227, 10%, 46%);
  font-size: 13px;
  padding-bottom: 7px;
}

.card-bottom {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  background-color: white;
  border-top: 1px solid hsl(0, 0%, 59%);
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.stats {
  padding: 5px 0 0px 0;
}

.stats-numbers {
  font-weight: 700;
  color: hsl(229, 23%, 23%);
  padding: 25px 0 5px 0;
}

.stats-name {
  font-size: 10px;
  color: hsl(0, 0%, 59%);
  letter-spacing: 2px;
  padding-bottom: 25px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding-top: 20px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
